{
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "jsxBracketSameLine": true,
      "semi": false,
      "singleQuote": true,
      "trailingComma": "es5"
    }]
  }
}